/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  margin: 20px 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* styling for the over game board */
.boardy {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  justify-content: center;
}

/* styling for individual images (imageCard */
.memcard {
  margin: 5px;
  background-color: #fad566;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 150px;
  width: 150px;
}
/* adds styling when an image is clicked */
.clicked {
  border: 4px solid purple;
}

/* adds styling when there are paired images */
.paired {
  border: 4px solid rgba(45.1, 6.7, 8.6);
  background-image: none !important;
}
